
@import "bootstrap";

.navbar-brand {
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('udemy.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;

    h1 {
        color: #fff;
        text-transform: uppercase;
    }
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;

    a {
        &:hover {
            color: #222;
        }
    }

    small {
        float: left;
    }

    ul {
        list-style-type: none;
        float:right;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}